span{
  width: 200px;
}
.product-box{
  margin-top:60px
}
.product{
  width: 150px;
}
.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
