<div class="container " >

  <div class="row product-box">
<!--    <div class="col product">-->
    <a routerLink="/products/{{productName}}/{{id}}" style="text-decoration: none;" >

    <span>
<img src="{{image}}" alt="{{image}}" class="img-fluid"  >
        </span>

    <p class="mat-title ellipsis" [ngClass]="{'creatSpace': productName.length < 25 }"  >{{productName}}</p>
   <p class="ellipsis">{{description.trim()}}</p>
  </a>

  <p>{{price| currency: 'EUR'}}</p>
    <button mat-raised-button	 color="primary"  type=button (click)="onClick(productObj)">
     <span  >
     <mat-icon  >shopping_cart</mat-icon>
       </span>
     <span>
       Add to Cart
       </span>
   </button>
<!--    <hr>-->

</div>
</div>


