span{
  width: 200px;
}
.product-box{
  margin-top:60px
}
.product{
  width: 150px;
}
.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.ellipsisHeader {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
img{
  height: 260px;
}
.creatSpace{
  padding-bottom: 32px;
}
a{
  color: #424242;
}

.space.btn{
  display: flex;
  justify-content: flex-end;
}
