footer {
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
   text-align: center;
}
.space{
   display: flex;
   justify-content: center;
  flex-wrap: wrap;
  margin: 0 -3rem;
  padding-left:  3rem;
}
span{
  padding-left:  3rem;

}
.dodo{
  height:60px;
  justify-self: end;
  justify-content: end;
}

