
<div class="container space">
  <div class="row">

   <app-single-product  *ngFor="let product of products "
                       [productName]="product.name"
                        [productObj] = product
                        [id] ="product.id"
                      [image]="product.image"
                      [description]="product.description"
                       [price]="product.unitPrice" class="col-3 product">


  </app-single-product>
    <p *ngIf = "products?.length===0" class="alert alert-warning">There are no more products in this category</p>
<router-outlet></router-outlet>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="handlePageEvent($event)">

    </mat-paginator>




</div>
   </div>






