<mat-toolbar color="primary" id="header" class="px-5 space">
   <span>
  <a routerLink="products"> <img src="assets/Oryx.png" class="pl-3">  </a>
      </span>
     <p class="agora">OryxShop</p>


  <input matInput type="search" placeholder="Search" class="ele">

  <button type="submit"><mat-icon>search</mat-icon></button>

  <div  class="d-flex justify-content-end">
    <span class="right "   class="ele" >Orders</span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">local_grocery_store</mat-icon>
  </div>


</mat-toolbar>
