@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

.example-spacer {
  flex: 1 1 auto;
}

.dodo {
  height: 60px;
}

.dodo-word {
  font-family: 'Roboto', sans-serif;
  font-size: 3.4em;
  font-weight: bold;
}

.location {
  color: black;
  margin-right: 55px;
}

