@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');


.example-spacer {
  flex: 1 1 auto;
}

.dodo {
  height: 60px;
}

.logo {
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  font-size: 2.4em;
  font-weight: bold;
}

.location {
  color: black;
  margin-right: 55px;
}

.search{
  width: 80%;
 }

.history{
  padding: 20px;
}



.logodiv{
  display: flex;
  padding: 10px;
}



.logoimg{
  max-width: 30% !important;
}

